#user__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 180px;
  grid-gap: 2rem;
}

@media screen and (max-width: 1000px) {
  #user__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  #user__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
